<div class="opaque">
<h2>About Columbia Flagging Academy</h2>

<p>Columbia Flagging Academy was founded in 2007 by David Remsing. David, having decades of experience in the construction industry, realized that there is a need for well-trained traffic control flaggers. He started the Academy to teach flaggers according to WSDOT and ODOT standards with an emphasis on flagging safely and effectively.</p>

<p>Having certified, competent flaggers on the job site reduces work-related injuries and incidents, allows workers who are not actively flagging to work productively, and helps the traveling public to safely navigate the work zone.</p>

<p>Our certified flagging instructors are experienced both in the classroom and in the field.</p>


{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
</div>
<hr>

<div id="content">

			<div class="row" id="project_row">

				<div class="col-xs-12 col-md-6" class="project_window">
					<img src="assets/images/classroom2.jpg" class="img-responsive">

				</div>
				<div class="col-xs-12 col-md-6" class="project_window">
					<img src="assets/images/field-dave2.jpg" class="img-responsive">

				</div>


			</div> <!--end of #project_row-->

		</div> <!-- End of #content -->
