<h2>About Columbia Flagging Academy</h2>

<p>Columbia Flagging Academy was founded in 2007 by David Remsing. David, having decades of experience in the construction industry, realized that there is a need for well-trained traffic control flaggers.</p>

<p>Having certified, competent flaggers on the job site reduces work-related injuries and incidents, allows workers who are not actively flagging to work productively, and helps the traveling public to safely navigate the work zone.</p>

{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
