<!-- <div class="opaque"> -->
{{! Jumbotron }}
<div>
<div class= "jumbotron tron-one">
  <div class="container-fluid">
    <h1 class="float">Contact</h1>
  <div class="connect">
    <a href="https://twitter.com/Safe_on_Road" target="_blank"><img src="assets/images/t.png" alt="Twitter icon"/></a>
    <a href="https://plus.google.com/115187292991814415758/about" target="_blank"><img src="assets/images/g64.png" alt="Google plus icon"></a>
  </div>
  <hr>
  <div class="container-fluid">
          <div class="row">
              <div class="col-xs-6">
                <h2>Phone</h2>
                <p><a href="tel:3605218049">360-521-8049</a></p>
              </div>
              <div class="col-xs-6">
                <h2>Email</h2>
                <p><a href="mailto:columbiaflagging@live.com">columbiaflagging@live.com</a></p>
              </div>
            </div>
          </div>
  <div class="container-fluid">
    <div class="row">
       <div class="col-m-6 col-centered">
          <a class="get" href="https://www.google.com/maps/dir//2111+NE+49th+Ave+Vancouver+WA" target="_blank"><img src="assets/images/directions-icon.png" alt="Get Directions icon"/></a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{{! /Jumbotron }}

<!-- <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
              <h2>Phone</h2>
              <p><a href="tel:3605218049">360-521-8049</a></p>
            </div>
            <div class="col-xs-6">
              <h2>Email</h2>
              <h3><a href="mailto:columbiaflagging@live.com">columbiaflagging@live.com</a></h3>
            </div>
          </div>
        </div>
<div class="container-fluid">
  <div class="row">
     <div class="col-m-6 col-centered">
        <a class="get" href="https://www.google.com/maps/dir//2111+NE+49th+Ave+Vancouver+WA" target="_blank"><img src="assets/images/directions-icon.png" alt="Get Directions icon"/></a>
      </div>
    </div>
  </div> -->
<!-- </div> -->
